# Coding Temple's Data Analytics Program
---
## Intro to Pandas Assignment
---

### Imports

In [1]:
import pandas as pd
import numpy as np

### Exercise #1: Read in the Data
For this assignment, you will want to use the Boston RedSox data from earlier today. Practice reading this into a DataFrame object using Pandas

In [3]:
bosox_2017 = pd.read_csv('../../ClassDisc/Week3/data/redsox_2017_hitting.txt')
bosox_2018 = pd.read_csv('../../ClassDisc/Week3/data/redsox_2018_hitting.txt')

### Exercise #2 - Find the Total Number of Runs and RBIs for the Red Sox <br>
<p>Get total number of home runs and rbi's</p>

In [18]:
runs_rbi_a = bosox_2017[['HR', 'RBI']].copy()
runs_rbi_a['Year'] = 2017
runs_rbi_b = bosox_2018[['HR', 'RBI']].copy()
runs_rbi_b['Year'] = 2018
runs_rbi = pd.concat([runs_rbi_a, runs_rbi_b])
del runs_rbi_a
del runs_rbi_b
runs_rbi.groupby('Year').sum()[['HR','RBI']]

       HR  RBI
Year
2017  168  735
2018  208  826

### Exercise #3: Grouping
Find the 5 players with the highest `OPS+`

In [32]:
ops_a = bosox_2017[['Name', 'OPS+']].sort_values('OPS+', ascending=False).iloc[0:5]
ops_a['Year'] = 2017
ops_b = bosox_2018[['Name', 'OPS+']].sort_values('OPS+', ascending=False).iloc[0:5]
ops_b['Year'] = 2018
ops = pd.concat([ops_a, ops_b])
del ops_a
del ops_b
ops[['Year', 'Name', 'OPS+']]

    Year               Name  OPS+
22  2017     Chase d'Arnaud   428
12  2017      Eduardo Nunez   128
4   2017      Rafael Devers   111
7   2017       Mookie Betts   108
5   2017  Andrew Benintendi   102
7   2018       Mookie Betts   186
8   2018      J.D. Martinez   173
13  2018       Steve Pearce   141
3   2018    Xander Bogaerts   135
5   2018  Andrew Benintendi   123

### Exercise #4: To SQL
In this exercise, you will send your dataframe objects to an elephantSQL instance. Once you have successfully uploaded your dataframes, load them into a new dataframe using the `read_sql_table()` function.

In [48]:
import sqlite3
from sqlite3 import Error
from sqlalchemy import create_engine, text

In [70]:
# open connection to sqllite
conn = sqlite3.connect('data/pythonsqlite.db')

In [71]:
# load dataframes to database
bosox_2017.to_sql('bosox_2017', conn)
bosox_2018.to_sql('bosox_2018', conn)

20

In [72]:
# close database connection
conn.close()

In [51]:
# create SQLAlchemy engine connection
engine = create_engine('sqlite:///data/pythonsqlite.db')

In [73]:
# setup SQL query to server
sql_query = text("""select a.Name, 
                           a.Pos, 
                           a.RBI as RBI_17,
                           b.RBI as RBI_18
                    from bosox_2017 a, bosox_2017 b 
                    where a.Name = b.Name 
                     and  a.RBI > 50 
                    order by a.RBI desc""")
result_proxy = engine.execute(sql_query)

In [74]:
# write query result proxy object to dataframe
test_db_query = pd.DataFrame(result_proxy.fetchall(), columns=result_proxy.keys())

In [75]:
# resulting dataframe
test_db_query

                 Name Pos  RBI_17  RBI_18
0        Mookie Betts  RF     102     102
1   Andrew Benintendi  LF      90      90
2      Mitch Moreland  1B      79      79
3  Jackie Bradley Jr.  CF      63      63
4      Dustin Pedroia  2B      62      62
5     Xander Bogaerts  SS      62      62
6      Hanley Ramirez  DH      62      62